[run]
branch = True
source =
    rdmc
    rdtools
omit =
    rdtools/conversion/xyz2mol.py
    rdmc/external/rmg.py
    rdmc/conformer_generation/*

[report]
show_missing = False
exclude_lines =
    def __repr__
    logger.warning
    if __name__ == .__main__.:
omit =
    rdtools/conversion/xyz2mol.py
    rdmc/external/rmg.py
    rdmc/conformer_generation/*

[html]
directory = ./coverage/html

[xml]
output = ./coverage/coverage.xml
